* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: auto;
    align-items: center;
    width: 50%;
    font-family: "Poppins";
    font-size: 16px;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}

.maindiv {
    display: flex;
    justify-content: center;
}

.info {
    margin: auto;
    width: 26rem;
    align-items: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.doublediv {
    width: 25rem;
    margin-left: 30px;
}

h1 {
    font-weight: 700;
    line-height: 40px;
    font-size: 38px;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 0 7px 2px rgba(0, 0, 0, 0.204);
}

.btn1 {
    background-color: hsl(248, 32%, 49%);
    border: none;
    width: 25rem;
    height: 42px;
    border-radius: 6px;
    margin: auto;
    display: flex;
    justify-items: center;
    /* margin-bottom: 10px; */
    padding: 0%;
    font-size: 12px;
    color: rgb(218, 218, 218);
    font-weight: 400;
    text-align: center;
    place-items: center;
    align-items: center;
}

#push {
    margin-bottom: 12px;
}

.para3 {
    margin: auto;
    padding: 0%;
}

.btnbtn {
    background-color: hsl(154, 59%, 51%);
    border: none;
    width: 23rem;
    height: 42px;
    margin: 6px;
    border-radius: 6px;
    font-size: x-small;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}

.btnbtn:hover {
    opacity: 0.8;
}

input {
    width: 23rem;
    margin: 6px;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    border: solid 1px #e1e1e1;
    color: #111111;
    font-weight: 500;
    font-size: small;
    margin-bottom: 3px;
}

input:focus:invalid~.error {
    position: relative;
    margin: 1.5rem;
}

input:focus:invalid {
    background: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    border: solid 1px hsl(0, 100%, 74%);
    background-origin: content-box;
}

input:focus {
    border: solid 1px rgb(100, 100, 100);
    outline: none;
}

input:focus:invalid~.error::after {
    content: attr(data-error);
    position: absolute;
    bottom: 0;
    font-style: italic;
    font-size: 10px;
    font-weight: 500;
    right: 0;
    padding-bottom: 6px;
    color: hsl(0, 100%, 74%);
}

p span {
    color: hsl(0, 100%, 74%)
}

.para1 {
    font-weight: 400;
    font-size: small;
    padding-top: 20px;
}

.para2 {
    font-weight: 400;
    font-size: xx-small;
    padding-bottom: 25px;
    padding-top: 3px;
    text-align: center;
    color: rgb(199, 199, 199);

}

@media only screen and (max-width: 880px) {
    .info {
        width: 19rem;
        margin-right: 4px;
    }

    .doublediv {
        width: 18rem;
        margin-left: 5px;
    }

    h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .para1 {
        margin: 0%;
        padding-top: 20px;
        font-weight: 500;
        font-size: 12px;
    }

    input {
        width: 16rem;
    }

    .btn1 {
        width: 18rem;
    }

    .btnbtn {
        width: 16rem;
    }

    .para2 {
        font-size: 7px;
    }
}

@media only screen and (max-width: 600px) {
    .maindiv {
        flex-direction: column;
    }

    body {
        background-image: url(./images/bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
    }

    .info {
        width: 18rem;
        margin: 0%;
        text-align: center;
        padding: 0%;
    }

    form {
        height: 20rem;
    }

    .doublediv {
        width: 18rem;
        margin: 0%;
    }

    #mag {
        margin-top: 30px;
    }

    .para3 {
        width: 10rem;
        margin: auto;
    }

    .para2 {
        width: 12rem;
        font-size: 9px;
        margin: auto;
        text-align: center;
    }

    .para1 {
        margin: 0%;
        padding-top: 20px;
        padding-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
    }

    h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .btn1 {
        height: 3.5rem;
        width: 18rem;
        text-align: center;
        margin: auto;
    }

    input {
        width: 16rem;
    }

    .btnbtn {
        width: 16rem;
    }
}